mat-card{
    margin: 15px 30px;
    border-radius: 18px;
    
    
}

#search-div{
    width: 100%;
  
}


mat-form-field{
    width: 80%;
    text-align: center;
    font-size: 15px;

}
mat-card-title{
    font-size: 17px;
    color:#550019;
}

