<mat-tab-group style="background-color:rgb(255, 232, 219);" fxFlex mat-align-tabs="center" mat-stretch-tabs >

    <mat-tab label="Books">
        <app-insert-book></app-insert-book>
    </mat-tab>

    <mat-tab label="School supplies">
        <app-insert-school></app-insert-school>
    </mat-tab>

    <!--<mat-tab label="Artistic accessories">
        <app-insert-accessory></app-insert-accessory>
    </mat-tab> -->
    
    <mat-tab label="For Kids">
        <app-insert-kids></app-insert-kids>
    </mat-tab>

    <mat-tab label="Gifts">
        <app-insert-gift></app-insert-gift>
    </mat-tab>

</mat-tab-group> 


