<div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <section fxFlex fxLayout="row wrap" fxLayoutAlign="center" id="main_section">
        <mat-card fxFlex="500px" *ngFor="let gift of data">
            <img mat-card-image src="{{gift.image}}" alt="Photo" width="200px" height="400px">

            <mat-card-title fxLayoutAlign="center">
                {{gift.name}}
            </mat-card-title>

            <mat-card-content fxLayoutAlign="center">
            <h3>Price: {{gift.price}} DIN</h3>
            </mat-card-content>

            <mat-card-content fxLayoutAlign="center">
                <p>Seller: {{gift.seller_username}}</p>
            </mat-card-content>

            <mat-card-actions fxLayoutAlign="center">
                <button mat-raised-button color="primary" (click)="deleteGift(gift.id)">Delete</button>
                <button mat-raised-button color="primary" (click)="updateGift(gift.id)">Update</button>
            </mat-card-actions>
        </mat-card>
    </section>
</div>
