 <mat-tab-group style="background-color:rgb(255, 232, 219);"fxFlex mat-align-tabs="center" mat-stretch-tabs >

    <mat-tab label="Books">
        <app-my-books></app-my-books>
    </mat-tab>

    <mat-tab label="School supplies">
        <app-my-school></app-my-school>
    </mat-tab>

    <!--<mat-tab label="Artistic accessories">
        <app-my-accessories></app-my-accessories>
    </mat-tab>  -->
    
    <mat-tab label="For Kids">
        <app-my-kids></app-my-kids>
    </mat-tab>

    <mat-tab label="Gifts">
       <app-my-gifts></app-my-gifts>
    </mat-tab>
</mat-tab-group> 

